:root {
	--size: 100px;
	--tile: #164863;
	--correct: #427d9d;
	--board: #9bbec8;
}
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
html,
body {
	background: #ddf2fd;
	margin: 0;
	padding: 0;
}
.App {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}
.App * {
	font-family: "Pacifico", cursive;
}

@media screen and (max-width: 992px) {
	:root {
		--size: 70px;
	}
}
